solidworkparts/~$Gantry Block.SLDPRT
solidworkparts/~$Gantry Track Piece.SLDPRT
solidworkparts/~$gantry\!\!\!\!.SLDASM
solidworkparts/~$motor body.SLDPRT
solidworkparts/~$motor spinny.SLDPRT
solidworkparts/~$Overall System.SLDASM
solidworkparts/~$overarch.SLDPRT
solidworkparts/~$Pool table.SLDPRT
solidworkparts/~$Ramp.SLDPRT
solidworkparts/~$rod.SLDPRT
solidworkparts/~$shortrod.SLDPRT
solidworkparts/~$SlidingDoor.SLDPRT
solidworkparts/~$smallergear.SLDPRT
solidworkparts/~$Spur gear 1.5M 12T 20PA 20FW 20mm wide.SLDPRT
solidworkparts/~$tracksatdistance.SLDASM
solidworkparts/~$Triangle.SLDPRT
solidworkparts/~$TriangleHolder.SLDPRT
